/*window action style minimize ,close and zoom*/


.page{

       display: flex;
    }
.close-chat-window {
      background: #f25648;
      font-size: 9pt;
      line-height: 11px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      display: inline-block;
      text-decoration: none;
      margin: 3%;
      margin-top: 6%;
      outline: none !important;

    
    }
.minimize {
      background: #ffbd4c;
      font-size: 9pt;
      line-height: 11px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      display: inline-block;
      text-decoration: none;
      margin: 3%;
      margin-left: 1%;
      margin-top: 6%;
      outline: none !important;

    
    
    }
.zoom {
      background: #00ca56;
      font-size: 9pt;
      line-height: 11px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      display: inline-block;
      margin: 3%;
      margin-left: 2%;
      margin-top: 6%;
      outline: none !important;

    }
