
<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="app ">
    <div class="window-action "> 
      <app-window-action></app-window-action>
    </div>
    <div class="chat-with">
      <app-chat-with></app-chat-with>
    </div>
    <div class="contact-list overflow-y">
      <app-contact-list></app-contact-list>
    </div>  
    <div class="chat-messages ">
      <app-chat-messages> </app-chat-messages>
    </div>
    <div class="chat-box ">
      <app-chat-box></app-chat-box>
    </div>
  </div>
