<div class="background" >
   <ul>
     <li  *ngFor="let message of messagesList">
       <div  *ngIf="message.id === MessagesService.idMessage">
         <div class="d-flex" *ngIf="message.type === 'receive'">
         <div class="msg-sender-background" >
            {{ message.msg }}
          </div>
          <time>{{ message.time }}</time>
       </div>

       <div class="d-flex justify-content-end pr-5" *ngIf="message.type === 'send'">
          <time>{{ message.time }}</time>
          <div class="msg-receiver-background" >
             {{ message.msg }}
           </div>
          
        </div>
        </div>

     </li>
   </ul>
</div>

